<form method="POST" action="/addItemToCart">
    <input type="text" name="productId" value="<%=productId %>" hidden>
    <button class="btn btn-primary text-white" href="/add-to-cart" style="font-weight: 600;">Add to Cart</button>
</form>